
*.class

# package
*.war
*.ear

# kdiff3
*.orig

# maven
target/

# eclipse
.settings
.project
.classpath

# idea

.idea/
/idea/
*.ipr
*.imr
*.iml
*.iws

# temp
*.log
*.cache
*.diff
*.tmp
*.patch

# system
.DS_Store
Thumbs.db